.Container {
  height: 100vh;
  width: 15vw;
  background-color: black;
  position: fixed;
  display: flex;
  /* flex-direction: column; */
  padding-left: 30px;
  padding-top: 30px;
  transition: 500ms;
  animation: mymove 2s alternate;
  z-index: 999;
}
.none {
  display: none !important;
}
/* .logoImg {
    width: 170px;
    height: 50px;
} */
.logoCont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  font-size: 40px;
  color: orange;
}

.logoText {
  font-size: 30px;
  color: white;
  font-family: "Mulish", sans-serif;
}
.textContainer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tInner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.texts {
  font-size: 13px;
  opacity: 70%;
  font-family: "Mulish", sans-serif;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);

  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  /* padding: 5px 0; */
  position: relative;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  transition: all 0.3s ease-in-out;
}

.icons {
  font-size: 25px;
  color: white;
  opacity: 70%;
}
.bottomCont {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  bottom: 100px;
}
.buttonLogIn {
  width: 100px;
  border-radius: 30px;
  background-color: black;
  border: 1px solid;
  font-size: 15px;
  font-weight: bold;
}
.buttonSignUp {
  width: 100px;
  font-weight: bold;
  border-radius: 30px;
  background-color: orange;
  border: none;
  font-size: 15px;
}

.buttonLogIn:hover {
  background-color: white;
  color: black;
}
.buttonSignUp:hover {
  background-color: white;
  color: black;
}
.line {
  width: 95%;
  color: white;
}

.playlistContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.playlistTitle {
  color: white;
  font-size: 13px;
  opacity: 70%;
  font-family: "Mulish", sans-serif;
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);

  background-size: 100% 50%;
  background-position: -100%;
  display: inline-block;
  /* padding: 5px 0; */
  position: relative;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  transition: all 0.3s ease-in-out;
}

@keyframes mymove {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.playlistTitle:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.playlistTitle:hover {
  background-position: 0;
  color: #54b3d6;
}

.playlistTitle:hover::before {
  width: 100%;
}

.texts:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.texts:hover {
  background-position: 0;
  color: white;
  color: #54b3d6;

}

.texts:hover::before {
  width: 100%;
}
